/* 浏览器私有前缀是为了兼容老版本的写法，比较新版的浏览器或国内的浏览器不用添加。 
私有前缀：
    -moz-:代表firefox浏览器私有属性。
    -ms-:代表ie浏览器私有属性。
    -webkit-:代表safari、chrome私有属性。
    -o-:代表Opera私有属性。
*/


/* 给哪个浏览器添加，就写一个私有前缀，加上一个正常样式，来照顾兼容性，边框圆角也有浏览器兼容问题，就用边框的圆角样式写法演示： */

div {
    /* 火狐浏览器 */
    -moz-border-radius: 10px;
    /* 谷歌、苹果浏览器 */
    -webkit-border-radius: 10px;
    /* 欧朋浏览器 */
    -o-border-radius: 10px;
    /* 正常样式 */
    border-radius: 10px;
}