* {
    margin: 0;
    padding: 0;
}

.div1 {
    height: 36px;
    /* width: 100%; */
    margin-bottom: 20px;
}

.span1,
.span2 {
    height: 36px;
    width: 105px;
    background-color: bisque;
    float: left;
}

.input1 {
    height: 34px;
    width: 1137px;
    background-color: #F1F3F4;
    float: left;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
}

.div2 {
    width: 1226px;
    height: 300px;
    margin: auto;
    clear: left;
    margin-bottom: 20px;
}

.daohang1,
.daohang2 {
    float: left;
}

.daohang1 {
    width: 306px;
    height: 300px;
    background-color: yellow;
}

.daohang2 {
    width: 900px;
    height: 300px;
    background-color: pink;
    margin-left: 20px;
}

.div3 {
    width: 1226px;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
    /* clear: left; */
}

.box1,
.box2,
.box3,
.box4 {
    width: 291.5px;
    height: 200px;
    float: left;
    margin-left: 20px;
}

.box1 {
    background-color: seagreen;
    margin-left: 0;
}

.box2 {
    background-color: rgb(152, 228, 185);
}

.box3 {
    background-color: rgb(45, 233, 126);
}

.box4 {
    background-color: rgb(4, 99, 45);
}

.ul1 {
    width: 1226px;
    /* 开发中父盒子不要给高度，方便后面随时增加内容进去，高度靠li的内容撑开，ul不给高度时，高度就是0，它要清除浮动，下面的大盒子才会在正确位置显示。 */
    height: 400px;
    margin: auto;
    margin-bottom: 20px;
}

li {
    list-style: none;
    background-color: tomato;
    margin-left: 20px;
    float: left;
    width: 291.5px;
    height: 190px;
}

.li1,
.li2,
.li3,
.li4 {
    margin-bottom: 20px;
}


/* 每一排的第一个盒子不需要左外边距，建议去把它们的父盒子宽度修改宽一点，反正外边距在网页上看不见，就不用把每排第一个盒子的外边距设置为0了。毕竟如果很多排，把每排第一个都找出来专门取消左外边距也不现实。我这里没改是因为我直接用ul盒子当版心，没在ul外面套个div版心盒子，规范的写法是写个版心盒子 */

.li1,
.li5 {
    margin-left: 0;
}

.div4 {
    /* 默认与网页同宽，可以不指定 */
    /* width: 100%; */
    height: 300px;
    background-color: violet;
}

.div5 {
    width: 1226px;
    height: 130px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgb(130, 159, 238);
    /* border-width: 20px solid transparent; */
}


/* 页码 */

.yema {
    margin: 30px;
    text-align: center;
    font-size: 14px;
    color: #70656D;
}

.yema a,
.yema input,
.yema button {
    width: 36px;
    height: 36px;
    border: 1px solid #DEE0DE;
    background-color: #F6F7F6;
    line-height: 36px;
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    /* a自带字体颜色，给父盒子里的元素字体改统一颜色，却改不了a的，明明父的类选择器权重比a的标签选择器高啊，为什么还要再写a标签的color属性才能改字体颜色呢？ */
    /* color: #70656D; */
    /* inherit（继承的意思）继承父的字体颜色 */
    color: inherit;
}

.yema .a1,
.yema .a8 {
    width: 86px;
}

.yema .a2,
.yema .a7 {
    border: none;
    background-color: #fff;
}

.yema input {
    outline: none;
}

.yema button {
    /* button按钮也是自带字体颜色，不会主动继承父的颜色，需要设置它的color属性才能改 */
    /* color: #70656D; */
    color: inherit;
}