/* post转换前的css文件，演示： */


/* 引入css文件,postcss-import插件会自动把两个css文件的内容合并到一个css文件里，用less或sass预处理器引入文件，也能实现这个功能 */

@import 'reset.css';
div {
    width: 300px;
    height: 200px;
    padding: 10px;
    transform: rotate(30deg);
    margin: 5px;
    display: grid;
    justify-content: space-evenly;
    transform: scale(2);
}


/* cssnext降级css语法的插件，可以直接写变量，调用变量它会自动转换成所有浏览器都支持的css样式 */


/* 定义变量 */

:root {
    --color: red;
}


/* 调用变量 */

div {
    background-color: var(--color);
    color: var(--color);
    border: 1px solid var(--color);
}


/* stylelint插件检测书写规范演示： */

div {
    /* 只有两位，不规范，因为颜色支持3位或6位的，提示42行第11个字符写法不规范 */
    /* color: #00; */
    background: url(../../image2/jd1.png);
}

.box {
    background: url(../../image2/jd3.png);
}